BRI_BASE_URL=
BRI_CLIENT_ID=
BRI_CLIENT_SECRET=
BRI_SNAP_PARTNER_ID=
BRI_SNAP_CHANNEL_ID=
BRI_SNAP_MERCHANT_ID=
BRI_SNAP_TERMINAL_ID=
BRI_SNAP_PRIVATE_KEY=
BRI_SNAP_PUBLIC_KEY=
BRI_SNAP_TOKEN_PATH=/api/v1/access-token/b2b
BRI_QRIS_GENERATE_PATH=/snap/v1.0/qr/qr-mpm-generate
BRI_SNAP_CALLBACK_URL=
NEXT_PUBLIC_APP_URL=
