.DS_Store
.env
.env.*
!.env.example
node_modules
.next
out
build
dist
.tmp
tmp
test-results
coverage
tsconfig.tsbuildinfo
service-account.json
public/sw.js
public/workbox-*.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
